body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.parent-container{
    width: auto;
    height: auto;
    background-color: aqua;
}

.container1,.container2,.container3,.container4,.container5,.container6,.container7,.container8,.container9{
    width: 100%;
    height: 680px;
    background-color: white;

    
}
.container1{

    background-color: white;
    
}
.header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #bbb;;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    z-index: 50;
    
    
    
    
    
    
}
.tab-text2,.tab-text3,.tab-text4,.tab-text5,.tab-text6,.tab-text7,.tab-text8{
    
    width: fit-content;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-family: benton-sans,sans-serif;
    font-weight: 550;
    font-size: 13px;
    
    
    
}
.tab-text2:hover,.tab-text3:hover,.tab-text4:hover,.tab-text5:hover,.tab-text6:hover,.tab-text7:hover,.tab-text8:hover{
    cursor: pointer;
    border-bottom: solid 2px black;
}


.tab-text1{
    width: 170px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center
    
    
}


.prada-logo{

    width: 130px;
    height: 20px;
    
}

.tab-text2{
    margin-left: 61px;
}

.tab-searchlogo{
    background-color: #fff;
    width: 41px;
    height: 50px;
    margin-left: 295px;
    
}
.search-logo{
    margin-top: 15px;
}

.parent-video{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-container{
    
    width: 97%;
    height: 90%;
    margin-top: 83px;
    text-decoration: transparent;
    overflow: hidden;
    
    
}
.video{ 
    width: 100%;
    min-height: 90%;
     
}
.text-container{
    color: #fff;
    position: absolute;
    width: 50%;
    height: 400px;
    margin-right: 573px;
    margin-top: -50px;
    font-family: benton-sans,sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.parent-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.discover{
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-bottom: solid #fff 1px;
    color: #fff;
    font-size: 17px;
    font-family: benton-sans,sans-serif;
    font-weight: 400;
    margin-right: 1112px;
    margin-top: -259px;
    transition: 0.2s;

}
.discover:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    
}
p{
    margin-left: 2px;
    font-size: 14px;
    font-weight: 300;
    margin-top: -13px;
    width: 613px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.box1{
    width: 97%;
    height: 90%;
    background-color: white;
    cursor: pointer;
}
.image-box{
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: space-between;
}

.image1,.image2,.image3{
    width: 32%;
    height: 500px;
    background-color: chocolate;
}
.image1{
    background-image: url(images/cq5dam.web.3328.3328.avif);
    background-size: cover;
}
.image2{
    background-image: url(images/cq5dam.web.3328.3328\ \(1\).avif);
    background-size: cover;
}
.image3{
    background-image: url(images/cq5dam.web.3328.3328\ \(2\).avif);
    background-size: cover;
}

.text-box{
    display: flex;
    justify-content: space-between;
    
}

.text1,.text2,.text3{
    width: 32%;
    height: 100px;
    background-color: white;
    font-family: icomoon!important;
    font-size: 28px;
    font-weight: 700;

}
.discover-button{
    width: fit-content;
    height: 40px;
    background-color: white;
    border-bottom: solid 1px black;
    font-size: medium;
    font-family: icomoon!important;
    font-weight: 400;
    margin-top: 20px;
    transition: 0.3s;
}
.discover-button:hover{
    background-color: black;
    color: white;
    
}
.container3{
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.picture-box{
     
    width: 1223px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pic1,.pic2{
    width: 49%;
    height: 600px;
    background-color: aliceblue;
    display: flex;
    font-size: 25px;
     cursor: pointer;
}
.pic1{
    background-image: url(images/womes\ wear.avif);
    background-size: cover;
}
.pic2{
    background-image: url(images/mens\ wear.avif);
    background-size: cover;
}
.wear-text1,.wear-text2{
 position: relative;
 top: 15px;
left: 15px;
width: 50%;
height: 30%;
font-family: benton-sans,sans-serif;
font-size: 24px;
font-weight: 700;
color: #fff;

}
.discover-div{
    width:  fit-content;
    height: 30px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 400;
    border-bottom :#fff solid 1px;
    transition: 0.3s;
}
.discover-div:hover{
    background-color: #fff;
    color: black;
}

.container4{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mens-bag-box{
    width: 97%;
    height: 90%;
    background-image: url(images/mens-bag.avif);
    background-size: cover;

}
.mens-bag-text{
    width: 30%;
    height: 30%;
    font-size: 30px;
    margin-left: 20px;
   margin-top: 20px;
   color: #fff;
}
.mens-discover-button{
    width: fit-content;
    height: 30px;
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
    border-bottom: solid 1px #fff;
    font-weight: 400;
    transition: 0.3s;
}
.mens-discover-button:hover{
    color: black;
    background-color: #fff;
}
.container5{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic3,.pic4{
    width: 49%;
    height: 600px;
    background-color: aliceblue;
    display: flex;
    font-size: 25px;
     cursor: pointer;
}
.pic3{
    background-image: url(images/pic3.avif);
    background-size: cover;
}
.pic4{
    background-image: url(images/pic4.avif);
    background-size: cover;
}
.wear-text3{
    position: relative;
 top: 15px;
left: 15px;
width: 100%;
height: 30%;
font-family: benton-sans,sans-serif;
font-size: 24px;
font-weight: 700;
color: black;

}
.discover-div1{
    width:  fit-content;
    height: 30px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 400;
    border-bottom :black solid 1px;
    transition: 0.3s;
}
.discover-div1:hover{
    background-color: #fff;
    color: black;
}

.container6{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic5,.pic6{
    width: 49%;
    height: 600px;
    display: flex;
    font-size: 25px;
     cursor: pointer;
}
.pic5{
    background-image: url(images/pic5.avif);
    background-size: cover;
}
.pic6{
    background-image: url(images/pic6.avif);
    background-size: cover;
}
.video-container1{
    
    width: 97%;
    height: 90%;
    margin-top: -45px;
    text-decoration: transparent;
    overflow: hidden;
    
    
}
.parent-text1{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.text-container1{
    color: black;
    position: absolute;
    width: 50%;
    height: 400px;
    margin-right: 573px;
    margin-top: -960px;
    font-family: benton-sans,sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 27px;

}
.discover1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-bottom: solid black 1px;
    color: black;
    font-size: 17px;
    font-family: benton-sans,sans-serif;
    font-weight: 400;
    margin-right: 1112px;
    margin-top: -1240px;
    transition: 0.2s;

}
.discover1:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    
}
.container8{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.last-img{
    background-color: rgb(27, 27, 27);
    width: 97%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.last-pic{
    width: 76%;
    height: 70%;
    background-image: url(images/last\ img.jpeg);
    background-size: cover;
    margin-top : -80px;
}
.parent-text5{
    display: flex;
    justify-content: flex-start;
    align-items: end;


}
.last-text{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    white-space: nowrap;
    font-size: 29px;
    left: 15px;
    color: #fff;
    font-family: benton-sans,sans-serif;
    font-weight: 700;
}
.last-text1{
    position: absolute;
    bottom: 70px;
    left: 149px;
    font-size: 38px;
    color: white;
    font-weight:700 ;
    font-family: benton-sans,sans-serif;

}
.disco-button{
    position: absolute;
    color: #fff;
    bottom: 21px;
    left: 152px;
    width: fit-content;
    height: 32px;
    border-bottom: solid 1px white;
    transition: 0.3s;
    font-family: benton-sans,sans-serif;

}
.disco-button:hover{
    background-color: #fff;
    color: black;
}
.container9{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    position: relative;
}
.foot{
    width: 97%;
    height: 80%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.div1,.div2,.div3{
    width: 300px;
    height: 100%;
    background-color:#fff ;
    font-family: benton-sans,sans-serif;
    font-weight: 400;
    font-size: 11px;
}
.div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div2{
    margin-left: 100px;
}
.div2,.div3{
    width: 200px;
    height: 80%;
    bottom: 0;
    left: 500px;
    margin-top: 50px;
}
.social-medias1,.social-medias2,.social-medias3,.social-medias4,.social-medias5,.social-medias6{
    width: 11%;
    height: 20%;
    background-color:white;
    display: flex;
    align-items: center;
    margin-top: -42px;
}

#facebook,#twitter,#instagram,#youtube,#spotify,#discord{
    width: 50%;
    height: 50%;
}

.copyrights{
    position: absolute;
    bottom: 0;
    background-color:white;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.foot-tab1{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 10px;
    padding-left: 18px;
}
.foot-tab2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-family: benton-sans,sans-serif;
    font-weight: 700;
    font-size: 10px;
}
#location-icon{
    width: 6%;
    height: 18%;
    margin-left: -5px;
}
.foot-tab3{
    width: 30%;
    height: 100%;
    font-family: benton-sans,sans-serif;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#globe{
    width: 13%;
    height: 33%;
}